{{- $pgr := where .Site.RegularPages "Section" "ne" "" -}}
{{- $pgr = where $pgr "Section" "not in" (slice "replies") -}}
{{- if (.Get "categories") -}}
    {{- range (split (.Get "categories") ",") -}}
        {{- $pgr = (where $pgr "Params.categories" "intersect" (slice .)) -}}
    {{- end -}}
{{- end -}}

{{- if (ne (.Get "order") "") -}}
    {{- $order := split (.Get "order") " " -}}
    {{- if (eq (index $order 0) "alpha" ) -}}
        {{- $pgr = $pgr.ByLinkTitle -}}
    {{- else if (eq (index $order 0) "date" ) -}}
        {{- $pgr = $pgr.ByDate -}}
    {{- end -}}
    {{- if (and (eq (len $order) 2) (eq (index $order 1) "desc")) -}}
        {{- $pgr = $pgr.Reverse -}}
    {{- end -}}
{{- end -}}

<ul class="postlist">
{{ range $pgr }}
{{- if (ne .LinkTitle "") -}}
  <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
{{- else if (ne .Summary "") -}}
  <li><a href="{{ .RelPermalink }}">{{ .Summary | safeHTML | truncate 70 }}</a></li>
{{- else -}}
  <li><a href="{{ .RelPermalink }}">{{ .Content | safeHTML | truncate 70 }}</a></li>
{{ end }}
{{ end }}
</ul>